ul{
    list-style-type: none;
}

#left .List{
    padding-left: 3vw;
    padding-right: 1vw;
    padding-bottom: 3vh;
    padding-top: 1vh;
    flex: 1;

}


.listname{
    font-size:1.2vw;  
}

.listname:hover{
    cursor:pointer;

}

.List_container{
    display: flex;
    margin-top:2vh;
}
.listitem{
    flex: 1;
}

.listitem img{
    max-width: 12vw;
    flex:1;
    transition: all .4s;

}

.listitem img:hover{
    cursor:pointer;
    transition: all .4s;
}

.listitem .curator{
    display:inline;
}

.listitem .curator:hover{
    text-decoration: underline;
    cursor:pointer;

}

.silver_text{
    margin: 3vh 0;
    width: 88%;
    color: #808080;
    
  }
  

.divider{
    float: left;
    width: 97%;
}

.clicked{
    filter: brightness(50%);
}

