ul{
    list-style-type: none;
}

#left .List{
    padding-left: 3vw;
    padding-right: 1vw;
    padding-bottom: 4vh;
    padding-top: 1vh;

}

  

.List_container{
    display: flex;
    margin-top:2vh;
}

img{
    max-width:85%;
    flex:1;
}