#queue_container{
    padding : 3vh 0;

}

#queue{
    margin: 4vh 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  
.joblist{
    display:flex;
    flex-direction: column;
    transition: max-height .2s;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 1.32vh 0vw;
    overflow: hidden;
    max-height: 2vh;
}

#columns{
    display:flex;
    transition: max-height .2s;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding: 1.32vh 0vw; 
}

.joblist:hover{
    cursor: pointer;
}

.joblist h5{
    flex :1;

}

.joblist .basic{
    display:flex;

}


.description{
    transition: max-height .2s;
    max-height: 40vh;
}

.details{
    padding:3vh;
}

#queue .tags{
    display:inline;
    padding:3px;
    text-decoration: underline;
    font-family: Din;

}

.numberorder{
    flex:.1
}
.company{
    flex:.3
}
.positions{
    flex:.6
}

.location{
    flex:.3;
} 

.company:hover{
    text-decoration: underline;
}

.location:hover{
    text-decoration: underline;
} 
