#queue_container{
    padding : 3vh 0;

}

.joblist{
    display:flex;
    transition: height 1s;

    padding: 1.52vh 1vw;
}

.joblist h5{
    flex :1;

}

.accent {
    background-color: white;
}

.description{
    transition: height 1s;
    height:20vh;
}

#queue .tags{
    display:inline;
    padding:3px;
    text-decoration: underline;
    font-family: Din;

}

.numberorder{
    flex:.1
}
.company{
    flex:.3
}
.positions{
    flex:.5
}

.location{
    flex:.1;
} 